<!-- templates/doctors.html -->
{% for doctor in doctors %}
<li>
  <form hx-put="/doctors/{{doctor.id}}" hx-target="#doctors" hx-swap="innerHTML" hx-on:htmx:after-request="this.reset()">
    <input name="firstname" value="{{doctor.firstname}}" hx-trigger="keyup changed delay:250ms">
    <input name="lastname" value="{{doctor.lastname}}" hx-trigger="keyup changed delay:250ms">
    <button>Update</button>
    <input type="button" value="❌" hx-post="/doctors/{{doctor.id}}/delete" hx-target="#doctors" hx-swap="innerHTML">
  </form>
</li>
{% endfor %}