<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HIS</title>
  <link rel="icon" href="{{ url_for('static', path='favicon.ico') }}" type="image/x-icon">
  <link rel="stylesheet" href="/static/simple.min.css">
  <link rel="stylesheet" href="/static/his.css">
  <script src="/static/htmx.min.js" integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <h1>Hospital Information System</h1>
    <nav>
      <a href="#patients" hx-get="/patients/widget" hx-swap="innerHTML" hx-trigger="click" hx-target="#main">patients</a>
      <a href="#doctors" hx-get="/doctors/widget" hx-swap="innerHTML" hx-trigger="click" hx-target="#main">doctors</a>
      <a href="#">buildings</a>
      <a href="#">users</a>
    </nav>
  </header>

  <main id="main">
    please choose a topic from the navigation menu.
  </main>

  <footer>
    <p>tozzr 2024</p>
  </footer>
</body>