{% extends 'template.html' %}
{% block content %}
<h1>Patients</h1>
<h2>{% if patient.id == None %}New{% else %}Update{% endif %} patient</h2>
<form action="/patients{% if patient.id != None %}/{{patient.id}}{% endif %}" method="post">
    <div class="form-element">
        <label>firstname</label><input type="text" name="firstname" value="{{patient.firstname}}" placeholder="Patient firstname">
    </div>
    <div class="form-element">
        <label>lastname</label><input type="text" name="lastname" value="{{patient.lastname}}" placeholder="Patient lastname">
    </div>
    <div class="form-element">
        <label></label>
        <button>Submit</button>
        <a href="/patients/list.html?size=10&page=1">back to list</a>
    </div>
</form>
{% endblock %}