<tbody>
  {% for patient in patients %}
  <tr>
    <td><input name="firstname" value="{{patient.firstname}}" hx-put="/patients/{{patient.id}}" hx-target="#patients" hx-swap="innerHTML" hx-trigger="keyup changed delay:250ms">
    <td><input name="lastname" value="{{patient.lastname}}" hx-put="/patients/{{patient.id}}" hx-target="#patients" hx-swap="innerHTML" hx-trigger="keyup changed delay:250ms">
    <td><input type="button" value="❌" hx-post="/patients/{{patient.id}}/delete" hx-target="#patients" hx-swap="innerHTML">
  </tr>
  {% endfor %}
</tbody>