<h1>Patients</h1>
<div class="list_actions">
    <button
        hx-get="/patients/modal/create"
        hx-target="#main"
        hx-trigger="click"
        hx-swap="innerHTML"
        class="btn primary">Add patient</button>
</div>
<table>
<tbody>
  {% for patient in patients.items %}
  <tr>
    <td>{{patient.firstname}}
    <td>{{patient.lastname}}
    <td><a href="#/patients/{{patient.id}}"><i class='bx bxs-edit'></i></a>
    <td><a href="#/patients/{{patient.id}}/delete"><i class='bx bx-trash'></i></a>
  </tr>
  {% endfor %}
</tbody>
<tfoot>
  <tr>
    <td clospan="4">
      page: {{patients.page}}/{{patients.pages}}, entries: {{patients.total}}
      <a href="#{{patients.links.first}}">first</a>
      {% if patients.links.prev != None %}<a href="#{{patients.links.prev}}">prev</a>{% endif %}
      {% if patients.links.next != None %}<a href="#{{patients.links.next}}">next</a>{% endif %}
      <a href="#{{patients.links.last}}">last</a>
    </td>
  </tr>
</tfoot>
</table>